<form method="post">
    <div id="request-return"></div>
        <div class="accounts-signup-section">{lang.ACCOUNTS_SIGNUP_SECTION}</div>
       <div class="accounts-signup-item">
            <div class="accounts-signup-item-title">{lang.ACCOUNTS_PASSWORD}</div>
            <div class="accounts-signup-item-value">
            	<input type="password" dir="ltr" id="input-accounts-password" name="input-accounts-password" onKeyUp="accountsCheckPasswordLength()" class="accounts-input-password" />
                <div class="accounts-signup-password-length" id="accounts-signup-password-length"><div></div></div>
                </div>        
        </div>
        <div class="accounts-signup-item">
            <div class="accounts-signup-item-title">{lang.ACCOUNTS_PASSWORD_CONFIRM}</div>
            <div class="accounts-signup-item-value"><input type="password" dir="ltr" id="input-accounts-password-confirm" name="input-accounts-password-confirm" class="accounts-input-password" /></div>        
        </div>      
        <div class="accounts-signup-section"><input type="submit" id="input-accounts-change-password-submit" name="input-accounts-change-password-submit" onClick="return accountsChangePassword();" class="accounts-input-submit" value="{lang.ACCOUNTS_SIGNUP_SUBMIT}" /></div>

</form>
    