<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{title}</title>
<link rel="stylesheet" type="text/css" href="{siteUrl}/themes/{style}/style.css" />
{if name="!empty($theme)"}
<link rel="stylesheet" type="text/css" href="{siteUrl}/{theme}" />
{/if}
<script type="text/javascript" src="{siteUrl}/jscript/jquery.js"></script>
<script type="text/javascript" src="{siteUrl}/jscript/share.js"></script>
<!-- Dont Remove -->
{HeaderCommon}
<!-- Dont Remove -->
</head>

<body>
    
<div id="document">

<div id="divsize">
	<div id="header">
    	<H1 style="margin:0px;">{title}</H1>
    </div>
    
<div id="headbar">

	<div id="divsize">
          <ul>
            <li><a href="index.php">الصفحة الرئيسة</a></li>
	    <li><a href="index.php">إتصل بنا</a></li>
	  </ul>
	</div>
        
 </div>
    
</div>

<div id="page">