<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{siteTitle} - {title}</title>
</head>
<style type="text/css">

body{
	direction:rtl;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;	
}
a{ text-decoration:none;}

</style>

<script type="text/javascript">
	
	window.print();
	
</script>

</head>

<body>
<span style="color:#555; float:left; margin:10px; font-size:16px; font-weight:bold;">{lang.BLOG_PUBLISH_DATE} :{date}</span>
{title}
<hr />
<center><img src="{siteUrl}/upload/blog/{photo}" width="500" height="400" /></center>
<div style="line-height:140%; text-align:justify;">{text}</div>
</body>
</html>